---
import Default from '@astrojs/starlight/components/MarkdownContent.astro'

const { description, sourceFile } = Astro.locals.starlightRoute.entry.data
---

<Default>
{description && sourceFile && <p class="page-description">{description}</p>}
<slot />
</Default>

